html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    background: linear-gradient(135deg, #ff9068 20%, #ff4b1f 80%);
}

.led-container {
    background-color: #CFD8DC;
}

.led-sim {
    height: 25px;
    width: 25px;
    background-color: red;
    display: inline-block;
    margin-right: 5px;
    border: 2px solid #616161;
}

.btn-dn {
    font-size: 30px;
    padding: 50px;
    border-radius: 0.2em; 
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-dn:hover, .btn-dn:focus, .btn-dn:active, .btn-dn.active {
    background: #405092;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD547, #CC3939, #405092);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD547, #CC3939, #405092); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#color-palette {
    height: 250px;
    width: 250px;
    background-color: red;
    display: inline-block;
    cursor: crosshair;
}

#slide {
    height: 250px;
    width: 40px;
    display: inline-block;
    cursor: row-resize;
}

.color-display {
    width: 100px;
    height: 40px;
    background-color: red;
}

#hex-code {
    width: 100px;
    text-align: center;
}